# Object files
*.o
*.ko
*.obj
*.elf

# Compiler Artifacts
*.d
*.bin
*.map
*.axf

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex
*.s37

# Debug files
*.dSYM/

# Simplicity Studio
.settings
.pdm
